<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>DormitoryManager</display-name>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addStudentServlet</servlet-name>
    <servlet-class>servlet.addStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addStudentServlet</servlet-name>
    <url-pattern>/servlet/addStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>selectMessageServlet</servlet-name>
    <servlet-class>servlet.selectMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectMessageServlet</servlet-name>
    <url-pattern>/servlet/selectMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>selectStudentServlet</servlet-name>
    <servlet-class>servlet.selectStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectStudentServlet</servlet-name>
    <url-pattern>/servlet/selectStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteStudentServlet</servlet-name>
    <servlet-class>servlet.deleteStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteStudentServlet</servlet-name>
    <url-pattern>/servlet/deleteStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addMessageServlet</servlet-name>
    <servlet-class>servlet.addMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addMessageServlet</servlet-name>
    <url-pattern>/servlet/addMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>changeUserServlet</servlet-name>
    <servlet-class>servlet.changeUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeUserServlet</servlet-name>
    <url-pattern>/servlet/changeUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addUserServlet</servlet-name>
    <servlet-class>servlet.addUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addUserServlet</servlet-name>
    <url-pattern>/servlet/addUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>selectUserServlet</servlet-name>
    <servlet-class>servlet.selectUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectUserServlet</servlet-name>
    <url-pattern>/servlet/selectUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteUserServlet</servlet-name>
    <servlet-class>servlet.deleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteUserServlet</servlet-name>
    <url-pattern>/servlet/deleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateUserServlet</servlet-name>
    <servlet-class>servlet.updateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateUserServlet</servlet-name>
    <url-pattern>/servlet/updateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateRepairsServlet</servlet-name>
    <servlet-class>servlet.updateRepairsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateRepairsServlet</servlet-name>
    <url-pattern>/servlet/updateRepairsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateStudentServlet</servlet-name>
    <servlet-class>servlet.updateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateStudentServlet</servlet-name>
    <url-pattern>/servlet/updateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updUserJsptoServlet</servlet-name>
    <servlet-class>servlet.updUserJsptoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updUserJsptoServlet</servlet-name>
    <url-pattern>/servlet/updUserJsptoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updRepairsJsptoServlet</servlet-name>
    <servlet-class>servlet.updRepairsJsptoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updRepairsJsptoServlet</servlet-name>
    <url-pattern>/servlet/updRepairsJsptoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updStudentJsptoServlet</servlet-name>
    <servlet-class>servlet.updStudentJsptoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updStudentJsptoServlet</servlet-name>
    <url-pattern>/servlet/updStudentJsptoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>delUserJsptoServlet</servlet-name>
    <servlet-class>servlet.delUserJsptoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delUserJsptoServlet</servlet-name>
    <url-pattern>/servlet/delUserJsptoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addRepairServlet</servlet-name>
    <servlet-class>servlet.addRepairServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addRepairServlet</servlet-name>
    <url-pattern>/servlet/addRepairServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>selectRepairsServlet</servlet-name>
    <servlet-class>servlet.selectRepairsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectRepairsServlet</servlet-name>
    <url-pattern>/servlet/selectRepairsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>selectRepairsServlet2</servlet-name>
    <servlet-class>servlet.selectRepairsServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectRepairsServlet2</servlet-name>
    <url-pattern>/servlet/selectRepairsServlet2</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>